<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Movie Reviews</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/Style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap" rel="stylesheet">
        <script src=""></script>
    </head>
    <body>

        <div class="backbar"><br></div>
        <div id="left"></div>
        <div id="right"></div>
        <header>
            <h1>Current Showings</h1>
            <p>This is a list of our current showings. Look through them to find what is right for you.</p>
        </header>

        <div>
            {% block content %}
            {% endblock %}
        </div>

</body>
</html> 