<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link rel="stylesheet" href="{% static 'css/Style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap" rel="stylesheet">
        <script src=""></script>
    </head>
    <body>

    <div class="backbar"><br></div>
    <div id="left"></div>
    <div id="right"></div>
    <header>
        <h1>Lorem ipsum</h1>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus commodi perferendis vitae sapiente minus tempore velit molestiae culpa saepe nobis labore laudantium similique necessitatibus nisi omnis optio esse, quod corporis.</p>
        
    </header>

    <div>
        <a href="MoviePage"><img src="https://i5.walmartimages.com/seo/Morbius-Movie-Poster-High-Quality-Glossy-Print-Photo-Wall-Art-Stars-Jared-Leto-Michael-Keaton-Size-16x20-Inches_8d05b570-7319-4bd8-99d4-2134aa784502.5a3358bd54bdc63c0817760fc914806c.jpeg" alt="Morb"></a>
        <a href="MoviePage"><img src="https://i5.walmartimages.com/seo/Morbius-Movie-Poster-High-Quality-Glossy-Print-Photo-Wall-Art-Stars-Jared-Leto-Michael-Keaton-Size-16x20-Inches_8d05b570-7319-4bd8-99d4-2134aa784502.5a3358bd54bdc63c0817760fc914806c.jpeg" alt="Morb"></a>
        <a href="MoviePage"><img src="https://i5.walmartimages.com/seo/Morbius-Movie-Poster-High-Quality-Glossy-Print-Photo-Wall-Art-Stars-Jared-Leto-Michael-Keaton-Size-16x20-Inches_8d05b570-7319-4bd8-99d4-2134aa784502.5a3358bd54bdc63c0817760fc914806c.jpeg" alt="Morb"></a>
        <a href="MoviePage"><img src="https://i5.walmartimages.com/seo/Morbius-Movie-Poster-High-Quality-Glossy-Print-Photo-Wall-Art-Stars-Jared-Leto-Michael-Keaton-Size-16x20-Inches_8d05b570-7319-4bd8-99d4-2134aa784502.5a3358bd54bdc63c0817760fc914806c.jpeg" alt="Morb"></a>
        <a href="MoviePage"><img src="https://i5.walmartimages.com/seo/Morbius-Movie-Poster-High-Quality-Glossy-Print-Photo-Wall-Art-Stars-Jared-Leto-Michael-Keaton-Size-16x20-Inches_8d05b570-7319-4bd8-99d4-2134aa784502.5a3358bd54bdc63c0817760fc914806c.jpeg" alt="Morb"></a>
    </div>

</body>
</html> 