<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Morbius</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/Style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap" rel="stylesheet">
        <style>
        </style>
        <script src=""></script>
    </head>
    <body>

        <div class="backbar">
        <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
        </svg>
        </a>
        </div>

        <div>
            <h1>Lorem ipsum</h1>
            <img src="https://i5.walmartimages.com/seo/Morbius-Movie-Poster-High-Quality-Glossy-Print-Photo-Wall-Art-Stars-Jared-Leto-Michael-Keaton-Size-16x20-Inches_8d05b570-7319-4bd8-99d4-2134aa784502.5a3358bd54bdc63c0817760fc914806c.jpeg">
        </div>

        <div>
            <h2>Screenings</h2>
            <p>Saturday 11:30 AM</p>
            <p>Sunday 2:30 PM</p>
        </div>

        <div>
            <h2>Reviews</h2>
            <p>For professional reviews, see <a href="https://www.rottentomatoes.com/m/morbius/reviews">here</a></p>
        </div>
        
        <div>
            <hr>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, recusandae ipsam? Possimus quidem temporibus maxime perferendis illum! Iusto, quae. Eum minima amet impedit labore eaque modi architecto dolorem, atque hic!</p>
            <hr>
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa amet cum odit, esse praesentium corporis maiores recusandae facere quia numquam, sit dolores rerum totam, fugiat repellendus porro ad officiis dicta.</p>
        </div> 

        <div id="left"></div>
        <div id="right"></div>

    </body>
</html> 