body {
  padding-left: 20%;
  padding-right: 20%;
  color: black;
  background-color: white;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.my-class {
  width: 216px;
  height: 320px;
}

#top, #bottom, #left, #right {
	background: orange;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15%;
		}
		#left { left: 0; }
		#right { right: 0; }