body {
  color: black;
  background-color: white;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

img {
  width: 216px;
  height: 320px;
}

#top, #bottom, #left, #right {
	background: darkorange;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15%;
		}
		#left { left: 0; }
		#right { right: 0; }

h1, h2{
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight:  bold;
  font-style: normal;
  text-decoration: underline;
}

h3{
  font-weight: bold;
  font-size: 24px;
}

p{
  font-size: 18px;
}

.backbar{
  background-color: orange;
  text-align: left;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.review {
    margin: 20px 0px 20px 20px;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
    margin-left: 15px;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}